<div class="view view--half_horizontal">
  {% render "gauge_setup", trmnl: trmnl, count: count, capacity: capacity %}
  {% render "title_bar", trmnl: trmnl %}

  <script>
    createGauge(count, capacity, {
      height: "28%",
      // tick marks
      labels: {
        distance: 15,
        style: {
          fontSize: "1em"
        }
      },
      // center text
      series: {
        fontSize: "2em",
        fontWeight: "400",
        fontFamily: "NicoClean"
      },
      yAxis: {
        title: "Current<br>Climbers",
        fontSize: "16px",
        tickPixelInterval: 100,
      },
    });
  </script>
</div>
