<div class="view view--half_horizontal">
    <div class="layout layout--col layout--left layout--center-y">
        {% unless gyms %}
            <span class="title">Failed to fetch capacity from RockGymPro...</span>
        {% else %}
            <div class="flex flex--col flex--left w--full h--[75cqh]">
                <div
                    class="columns"
                    data-overflow-max-cols="2"
                    data-overflow-counter="true"
                >
                    <div class="column">
                        {% assign gym_ids = trmnl.plugin_settings.custom_fields_values.gyms | split: ',' %}
                        {% for id in gym_ids limit: 4 %}
                            {% assign gym = gyms | where: 'id', id | first %}
                            <div class="item">
                                {% render 'gauge', gym: gym %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endunless %}
    </div>

    {% render 'title_bar', trmnl: trmnl %}
</div>
