<div class="view view--half_horizontal">
    {% comment %} TODO: get rid of this once there's a public URL  {% endcomment %}
    <link
        rel="stylesheet"
        href="https://usetrmnl.com/assets/plugins-942585433948501e1513257a149d7db3b7b8491594c3fcc4be7b72595f2f6875.css"
    >
    <script
        src="https://usetrmnl.com/assets/plugin-render/plugins-169ddd76b92c01ab967cdd941056210c381361aeaf0db9f43388216aedd79e5b.js"
    ></script>
    <div class="layout layout--col layout--left layout--center-y">
        {% unless gyms %}
            <span class="title">Failed to fetch capacity from RockGymPro...</span>
        {% else %}
            <div class="flex flex--col flex--left w--full">
                <div
                    class="columns"
                    data-max-columns="2"
                >
                    <div class="column">
                        {% assign gym_ids = trmnl.plugin_settings.custom_fields_values.gyms | split: ',' %}
                        {% for id in gym_ids limit: 4 %}
                            {% assign gym = gyms | where: 'id', id | first %}
                            {% render 'gauge', gym: gym %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endunless %}
    </div>

    {% render 'title_bar', trmnl: trmnl %}
</div>
